[submodule "push_swap"]
	path = push_swap
	url = git@github.com:Ella-42/push_swap.git
[submodule "test/push_swap"]
	path = test/push_swap
	url = git@vogsphere-v2.s19.be:vogsphere/intra-uuid-f3a1ae3c-22e3-46a2-b2f2-57a28e00cbd6-4736000-lpeeters
[submodule "pipex"]
	path = pipex
	url = git@github.com:Ella-42/pipex.git
[submodule "exam_practice"]
	path = exam_practice
	url = git@github.com:Ella-42/exam_practice.git
[submodule "libft"]
	path = libft
	url = git@github.com:Ella-42/libft.git
[submodule "so_long"]
	path = so_long
	url = git@github.com:Ella-42/so_long.git
[submodule "tools/key_logger"]
	path = tools/key_logger
	url = git@github.com:Ella-42/Key_Logger_and_Converter.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:Ella-42/philosophers.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:Ella-42/minishell.git
[submodule "cpp"]
	path = cpp
	url = git@github.com:Ella-42/cpp.git
[submodule "netpractice"]
	path = netpractice
	url = git@github.com:Ella-42/netpractice.git
[submodule "cub3d"]
	path = cub3d
	url = git@github.com:Ella-42/cub3d.git
[submodule "LastStand"]
	path = LastStand
	url = git@github.com:ahooghe/LastStand.git
